# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

##### Gathering Miscellaneous url info

In [2]:
# google (places api) nearby search reqiest url:   https://maps.googleapis.com/maps/api/place/nearbysearch/output?parameters
    #  Documentation:  https://developers.google.com/maps/documentation/places/web-service/search-nearby?hl=en_US

# google (geocoding api) https://maps.googleapis.com/maps/api/geocode/outputFormat?parameters
    #   Documentation:  https://developers.google.com/maps/documentation/geocoding/overview?hl=en_US


# google mapsJavaAPI   MapsJavaScriptAPI uses this script tag that I know nothing about.
    # <script async
    #     src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
    # </script>
    # Documentation: https://developers.google.com/maps/documentation/javascript/overview?hl=en_US

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [11]:
weather_data_csv = "weather_data.csv"
weather_data_df = pd.read_csv(weather_data_csv)
weather_data_df

,Unnamed: 0,City,Lat,Lon,Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Arraial do Cabo,-22.9661,-42.0278,294.07,68,75,2.57,BR,1633729266
1,1,Māndleshwar,22.1833,75.6667,300.37,65,65,0.50,IN,1633729268
2,2,Broome,42.2506,-75.8330,294.24,70,1,0.45,US,1633729270
3,3,Punta Arenas,-53.1500,-70.9167,282.21,40,20,15.95,CL,1633729040
4,4,Margate,51.3813,1.3862,285.86,82,7,1.34,GB,1633729273
...,...,...,...,...,...,...,...,...,...,...
569,569,Beira,-19.8436,34.8389,292.09,88,0,2.68,MZ,1633730112
570,570,Dwārka,22.2394,68.9678,301.52,77,14,2.78,IN,1633730113
571,571,Cururupu,-1.8283,-44.8683,298.42,84,18,1.69,BR,1633730114
572,572,Evanston,42.0411,-87.6901,293.90,83,61,2.15,US,1633730017
573,573,Birao,10.2849,22.7882,298.42,47,77,1.08,CF,1633730117

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key = g_key)

In [5]:
# Store "Lat" and "Lng" into locations
locations = weather_data_df[['Lat', 'Lon']].astype(float)

# Store 'Humidity' into humidity 
humidity = weather_data_df['Humidity'].astype(float)

In [6]:
# Create a humidity heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights = humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [51]:
good_humidity = weather_data_df[(weather_data_df['Humidity'] < 60)].dropna()
best_humidity = good_humidity[(good_humidity['Humidity'] > 55)].dropna()
good_temp = best_humidity[(best_humidity['Temp'] > 297)].dropna()
best_weather = good_temp[(good_temp['Temp'] < 302)].dropna()
best_weather

,Unnamed: 0,City,Lat,Lon,Temp,Humidity,Cloudiness,Wind Speed,Country,Date
120,120,Solenzo,12.1833,-4.0833,300.33,57,90,2.56,BF,1633729442
143,143,Russell,32.3502,-85.1999,300.97,56,1,4.63,US,1633729184
167,167,‘Āhuimanu,21.4447,-157.8378,300.47,58,20,7.72,US,1633729512
383,383,Antsohihy,-14.8796,47.9875,297.01,59,96,3.76,MG,1633729839
470,470,Lençóis Paulista,-22.5986,-48.8003,298.36,57,12,3.78,BR,1633729965
540,540,Guerrero Negro,27.9769,-114.0611,298.51,58,46,9.37,MX,1633730067

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure